---
title: Contentful-MM
---

<h1>Check it out New Events!</h1>

<% get_client.entries(content_type: 'show').each do |entry| %>
	<h2><%= entry.fields[:event] %></h2>	
	<p><%= entry.fields[:description] %></p>
	<p><%= link_to 'Read more', '/event.html', :relative => true %></p>
	
<% end %>
